.service-div button {
  color: black;
  font-size: 15px;
  background-color: aqua;
  height: 50px;
  width: 150px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.service-div {
  color: white;
  margin-top: 100px;
}

.service-div p {
  color: rgb(99, 99, 99);
}

@media (max-width: 768px) {
  .service-div h1 {
    font-size: 28px;
  }

  .service-div p {
    font-size: 16px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }
}
